<!DOCTYPE html>
<html lang="jp">
<head>

  <title>Study-Work</title>
  
</head>
<body>
<div class="header">

<div class="top-left">
<p>Study-Work</p>
</div>
<div class="top-right">
<a href="https://lin.ee/JawOkA9"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="50" border="0"></a>
</div>
</div>
    
<div class="privacy">
<h2>プライバシーポリシー</h2>
<p>Study-Work(以下「当社」という)は、お客様の個人情報について以下のとおりプライバシーポリシーを定めます。</p>
<h3>1.個人情報の取得方法</h3>
<p>当社はお客様が利用登録やお問い合わせをするとき、氏名・生年月日・住所・電話番号・メールアドレスなど個人を特定できる情報を取得させていただきます。</p>
<h3>2.個人情報の利用目的</h3>
<p>・当社サービスを提供するため</p>
<p>・当社サービスを安心・安全にご利用いただける環境整備のため</p>
<p>・当社サービスの運営・管理のため</p>
<p>・当社サービスに関するご案内、お問い合せ等への対応のため</p>
<p>・当社、その他当社サービスについての調査・データ集積、改善、研究開発のため</p>
<p>・当社がおすすめする商品・サービスなどのご案内を送信・送付するため</p>
<p>・当社とお客様の間での必要な連絡を行うため</p>
<p>・当社サービスに関する当社の規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため</p>
<p>・当社サービスに関する規約等の変更などを通知するため</p>
<p>・その他当社とお客様との間で同意した目的のため</p>
<p>・上記に附随する目的のため</p>
<h3>3.個人情報の管理</h3>
<p>当社は、個人情報の滅失、き損、漏洩及び不正利用等を防止し、その安全管理を行うために必要な措置を講じ、個人情報を安全に管理します。また、当社は個人情報を利用目的の範囲内において、正確かつ最新の状態で管理するように努めます。</p>
<h3>4.個人データの共同利用</h3>
<p>当社は、以下のとおり共同利用を行います。</p>
<p>・個人データの管理に関する責任者 : Study-Work 代表 浅野 隆</p>
<p>・共同して利用する者の利用目的 : 上記「個人情報の利用目的」の内容と同様。</p>
<p>・利用項目 : 氏名、生年月日、住所、電話番号、メールアドレス等</p>
<p>・共同して利用する者の範囲 : 当社サービスに関連する企業</p>
<h3>5.個人データの第三者提供について</h3>
<p>当社は法令及びガイドラインに別段の定めがある場合を除き、同意を得ないで第三者に個人情報を提供することは致しません。</p>
<h3>6.保有個人データの開示、訂正</h3>
<p>当社は本人から個人情報の開示を求められたときには、遅滞なく本人に対しこれを開示します。個人情報の利用目的の通知や訂正、追加、削除、利用の停止、第三者への提供の停止を希望される方は以下のメールアドレスにお問い合わせください。</p>
<p>studywork.info2024@gmail.com</p>
<h3>7.プライバシーポリシーの制定日及び改定日</h3>
<p>制定 : 2024年8月8日</p>
<h3>8.免責事項</h3>
<p>当社Webサイトに掲載されている情報の正確性には万全を期していますが、利用者が当社Webサイトの情報を用いて行う一切の行為に関して、一切の責任を負わないものとします。
当社は、利用者が当社Webサイトを利用したことにより生じた利用者の損害及び利用者が第三者に与えた損害に関して、一切の責任を負わないものとします。</p>

</div>

    <footer>
    <img src="/Preview.png" alt="" />
    <div class="footer-topic">
    <p>Study-Work</p>
    <p>〒596-0825</p>
    <p>大阪府岸和田市土生町2-30-12 泉洋ビル 2階</p>
    </div>
    <div class="inquiry">
    <p>お問い合わせ</p>
    <p>studywork.info2024@gmail.com</p>
    </div>
    <div class="privacy-link">
    <a href="/home/privacy">プライバシーポリシー</a>
    </div>
    <div class="copy">
    <p>©Study-Work 2024</p>
    </div>
    </footer>
</body>
</html>
