<!DOCTYPE html>
<html lang="jp">
<head>

  <title>Study-Work</title>
  
</head>
<body>
<div class="header">

<div class="top-left">
<p>Study-Work</p>
</div>
<div class="top-right">
<a href="https://lin.ee/JawOkA9"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="50" border="0"></a>
</div>
</div>
    <div class="top-wrapper">
     
     <div class="container">
     <img src="/Preview.png" alt="" />
      <p>自習室＆コワーキングスペース</p>
     </div>
    </div>

    <div class="explanation">
     <div class="explanation-title">
     <p>1人1人のニーズに答えた、集中型レンタルスペース</p>
     </div>
     <div class="explanation-main">
     <p>JR東岸和田駅から徒歩5分の場所に位置するStudy-Workは</p>
     <p>自習室、コワーキングスペース、貸会議室が併設された複合施設です。</p>
     <p>さまざまな料金プランやサービスにより、</p>
     <p>「自分のしたいことに集中ができる」場所を提供します。</p>
     </div>
    </div>

    <div class="feature-wrapper">
     <div class="feature-title">
     <p>Study-Workの特徴</p>
     </div>
     <h3>①申し込みから入退室までを一元化</h3>
     <div class="feature-main1">
     
     <p>公式LINEからいつでも入会の申し込みができ、</p>
     <p>申し込み後、専用のアプリに自動的に入退室用の鍵が付与されます。</p>
     <p>そのため、24時間365日いつでも利用して頂くことができます。</p>
     <a href="https://lin.ee/JawOkA9"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="50" border="0"></a>
     </div>
     <h3>②3つのエリア</h3>
     <div class="feature-main2">
     <div class="silent">
     <img src="/silent.JPG"/ class="feature-main2-silent">
     <p>・サイレントエリア</p>
     <p>静かに勉強や仕事をしたい人向けのエリアです。</p>
     <p>壁やカーテンで全面囲われ、周りを気にせず集中することができます。</p>
     </div>

     <div class="active">
     <img src="/active.JPG"/ class="feature-main2-active">
     <p>・アクティブエリア</p>
     <p>電話や会話をしながら勉強や仕事をしたい人向けのエリアです。</p>
     <p>側面の窓を開けることができ、ブースを繋げることができます。</p>
     <p>窓は簡単に取り外すこともできます。</p>
     </div>

     <div class="meeting">
     <img src="/meeting.JPG"/ class="feature-main2-meeting">
     <p>・会議室</p>
     <p>最大6人まででご利用いただけます。</p>
     <p>打ち合せや商談の場所としてお使いいただけます。</p>
     </div>
     </div>
     <h3>③設備・サービス</h3>
     <div class="feature-main3">
     <p>・ウォーターサーバー　　　・Wi-Fi　　　・コンセント</p>
     <p>・飲食スペース　　　・モニター　　　・電気スタンド</p>
     <p>これらが無料でご利用頂けます。</p>
     </div>

    </div>

    <div class="fee-wrapper">
     <div class="fee-title">
     <p>プラン内容・料金一覧</p>
     </div>
     <div class="fee-main">
     <table border="1">
      <tr>
       <th>コース</th><th>料金</th>
      </tr>
      <tr>
       <td>全日プラン</td><td>8,900円/月</td>
      </tr>
      <tr>
       <td>月～金プラン</td><td>6,500円/月</td>
      </tr>
      <tr>
       <td>土日プラン</td><td>5,500円/月</td>
      </tr>
      <tr>
       <td>ナイトプラン</td><td>5,000円/月</td>
      </tr>
     </table>
     <p>※ナイトプランは全日の0:00～6:00の時間でご利用いただけます。</p>
     <table border="1">
      <tr>
       <th>その他（コース利用者のみ）</th><th>料金</th>
      </tr>
      <tr>
       <td>入会金（初回のみ）</td><td>3,000円</td>
      </tr>
      <tr>
       <td>ロッカー利用</td><td>600円/月</td>
      </tr>
      <tr>
       <td>会議室利用し放題</td><td>4,000円/月</td>
      </tr>
      <tr>
       <td>固定席（全日プランのみ）</td><td>5,000円/月</td>
      </tr>
      <tr>
       <td>決済手数料</td><td>110円/回</td>
      </tr>
     </table>
     <table border="1">
      <tr>
       <th>単発利用</th><th>料金</th>
      </tr>
      <tr>
       <td>ブース1時間利用</td><td>700円/回</td>
      </tr>
      <tr>
       <td>ブース2時間利用</td><td>1,200円/回</td>
      </tr>
      <tr>
       <td>ブース1日利用</td><td>1,500円/回</td>
      </tr>
      <tr>
       <td>会議室利用</td><td>1,000円/時間</td>
      </tr>
     </table>
    </div>
    </div>

    <div class="use-wrapper">
    <div class="use-title">
     <p>ご利用の流れ</p>
    </div>
    <div class="use-main">
    <h3>①公式LINEを追加</h3>
    <a href="https://lin.ee/JawOkA9"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="50" border="0"></a>
    <p>こちらから公式LINEを追加することができます。</p>
    <p>会議室の予約や見学の申込なども公式LINEからお問い合わせいただけます。</p>
    <p>↓</p>
    <h3>②ご利用の申込</h3>
    <p>公式LINEのメニューにある「ご利用の申込」を押していただくと、月額コースと単発利用の2種類のリンクが送られます。</p>
    <p>ご利用になる方のリンクから申込を行ってください。</p>
    <p>※申込前に必ずメニューにある「利用方法」をご確認ください。</p>
    <p>↓</p>
    <h3>③Akerunの設定</h3>
    <p>会員登録完了後、Akerunパスワード設定のご案内のメールが届きます。</p>
    <p>メールの文面に沿って、Akerunのアプリのダウンロード、設定をしていただくと、利用プランに応じた鍵の権限が付与されます。</p>
    <p>アプリから扉の開錠をしていただくことで入室することができます。</p>
    </div>
    </div>
    <footer>
    <img src="/Preview.png" alt="" />
    <div class="footer-topic">
    <p>Study-Work</p>
    <p>〒596-0825</p>
    <p>大阪府岸和田市土生町2-30-12 泉洋ビル 2階</p>
    </div>
    <div class="inquiry">
    <p>お問い合わせ</p>
    <p>studywork.info2024@gmail.com</p>
    </div>
    <div class="privacy-link">
    <a href="/home/privacy">プライバシーポリシー</a>
    </div>
    <div class="copy">
    <p>©Study-Work 2024</p>
    </div>
    </footer>
</body>
</html>
